.profileDescription {
  font-size: 1.2rem;
  margin: 20px 0 0 20px;
  color: var(--tasman);
  line-height: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  transition: all 0.4s ease-in-out;
  text-align: start;
}

@media screen and (max-width: 1240px) {
  .profileDescription {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .profileDescription {
    margin: 20px;
  }
}
