.aboutMeContainer {
  padding: 80px 0 60px 0;
}

.aboutMeTitle {
  font-size: 20px;
  color: var(--offWhite);
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.aboutMeDesc {
  font-size: 16px;
  color: var(--darkWhite);
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .aboutMeContainer {
    padding: 50px 0 30px 0;
  }

  .aboutMeTitle {
    margin-top: 0;
  }
}
