.aboutMeContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1080px) {
  .aboutMeContainer {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  .aboutMeContainer {
    margin-top: 50px;
    transition: all 0.4s ease-in-out;
  }
}
