.pageContainer {
  max-width: 80%;
  margin: auto;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  .pageContainer {
    max-width: 90%;
    margin: auto;
    transition: all 0.4s ease-in-out;
  }
}
