.experienceContainer {
  margin: 40px 20px;
  display: flex;
  gap: 40px;
}

.year {
  color: var(--white);
  margin: 0;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  transition: all 0.4s ease-in-out;
}

.year:hover {
  color: var(--juniper);
  transition: all 0.4s ease-in-out;
}

.infoDescription {
  color: var(--juniper);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.border {
  border-right: 1px solid var(--oxfordBlue);
  padding-right: 40px;
}

@media screen and (max-width: 1240px) {
  .year {
    font-size: 80px;
  }
}

@media screen and (max-width: 768) {
  .year {
    font-size: 60px;
  }
  .infoDescription {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .experienceContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }

  .border {
    border-right: none;
    border-bottom: 1px solid var(--oxfordBlue);
    padding-bottom: 20px;
  }

  .year {
    font-size: 40px;
  }

  .infoDescription {
    font-size: 30px;
  }

  .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
