.navContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  right: 50%;
  top: 30px;
  gap: 20px;
}

.tooltip {
  color: var(--tasman);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  display: inline-block;
  margin-top: 5px;
}

.homeButton,
.workButton,
.skillButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  padding: 10px 15px;
  border-radius: 15px;
}

.homeButton:hover > .tooltip,
.workButton:hover > .tooltip,
.skillButton:hover > .tooltip {
  opacity: 1;
}
